<a href="https://colab.research.google.com/github/DVN111/Data-Analyst-Portfolio/blob/main/PANDAS_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [ ]:
import pandas as pd
import numpy as np

## SERIES

In [ ]:
# membuat series
population = pd.Series([1,2,3,4,5,6,7,8,9])
population

# memebaut series dengan index
population = pd.Series(
    [1,2,3,4,5,6,7,8,9], # data dalam series
    index=['a','b','c','d','e','f','g','h','i'] # index untuk tiap datanya
)
population

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

## INDEXING

In [ ]:
# seleksi data dalam series menggunakan index dan lokasi index
population.iloc[0] # pilih data dalam seeries pada nomor index ke 0 (index a)

1

In [ ]:
# seleksi data berdasarkan index spesifik
population['a']

1

In [ ]:
# seleksi data berdasartkan rentang indeks
population.loc['a':'d']  # seleksi data pada indeks 'a' sampai indeks 'd'

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
population[['a','d','e']]

a    1
d    4
e    5
dtype: int64

In [ ]:
# seleksi data berdasarkan index location
population.iloc[0]

1

In [ ]:
# seleksi data berdasarkan index location secara multiple
population.iloc[[4,2,7]] #seleksi data pada index location ke 4 dan 2

e    5
c    3
h    8
dtype: int64

In [ ]:
# seleksi data berdasarkan rentang index location
population.iloc[0:4] # selek data dalam list dimulaid dari indeks lokasi ke 0 -> 4

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# bisa melakukan broadcasting operation
population = population * 100
population

a    100
b    200
c    300
d    400
e    500
f    600
g    700
h    800
i    900
dtype: int64

In [ ]:
# fungsi dalam series
print(population.mean())
print(population.std())
print(population.min())
print(population.max())
print(population.sum())

500.0
273.8612787525831
100
900
4500

In [ ]:
np.log(population)

a    4.605170
b    5.298317
c    5.703782
d    5.991465
e    6.214608
f    6.396930
g    6.551080
h    6.684612
i    6.802395
dtype: float64

In [ ]:
# seleksi data dalam series dengan menggunakan kondisional and
population[(population > 100) & (population < 500)] # Mengambil data yang indeksnya memiliki poulasi diatas 100 dan dibawah 5000

b    200
c    300
d    400
dtype: int64

In [ ]:
data = np.array([1, 10, 100, 1000, 10000])
log_data = np.log(data)
print(log_data)

[0.         2.30258509 4.60517019 6.90775528 9.21034037]

## MODIFIKASI SERIES

In [ ]:
# Mengubah data pada index spesifik dalam series
population.loc['a'] = 222
population

a    222
b    200
c    300
d    400
e    500
f    600
g    700
h    800
i    900
dtype: int64

In [ ]:
# ubah menggunakan iloc
population.iloc[2]=333
population

a    222
b    200
c    333
d    400
e    500
f    600
g    700
h    800
i    900
dtype: int64

In [ ]:
# menggunakan kodisional
population[(population > 500)] = 999
population

a    222
b    200
c    333
d    400
e    500
f    999
g    999
h    999
i    999
dtype: int64

## DATAFRAME

In [ ]:
# prompt: buat datafranme dan terapkan kode yang pernah ditulis sebelumnya dalam analisis data
import pandas as pd
import numpy as np
# Membuat DataFrame
data = {'Nama': ['Andi', 'Budi', 'Citra', 'Dedi', 'Eka'],
        'Usia': [25, 30, 28, 32, 27],
        'Kota': ['Jakarta', 'Bandung', 'Surabaya', 'Yogyakarta', 'Semarang']}
df = pd.DataFrame(data)

# df[df['Kota'] == 'Bandung']
# df.loc[df['Usia'] > 28]

# notes: df loc hanya bisa menggunakan nama kolom pada bagian kolom dalam slicing seperti ['Kota'] / ['Kota','Usia']
df.loc[2,['Kota']] # pilih data secara spesifik record pada indeks tertentu
df.loc[:2,:]

    Nama  Usia      Kota
0   Andi    25   Jakarta
1   Budi    30   Bandung
2  Citra    28  Surabaya

In [ ]:
df.iloc[:2,2] # pilih semua kolom dan baris dalam
df.iloc[:,:] # df.iloc[(baris) / (barisX : barisy) , (kolom) / (kolomx : kolomy)]

    Nama  Usia        Kota
0   Andi    25     Jakarta
1   Budi    30     Bandung
2  Citra    28    Surabaya
3   Dedi    32  Yogyakarta
4    Eka    27    Semarang

In [ ]:
df.nunique() <4 # outputnya adalah sebuah series

Nama    False
Usia    False
Kota    False
dtype: bool

In [ ]:
df.columns[1]
# memilih kolom tertentu output: 'Usia'

'Usia'

In [ ]:
cat = df.columns[df.nunique() < 4].tolist()
num = df.columns[df.dtypes == 'int'].tolist()
# df clumn itu menghasilkan indek series yang berisi nama kolom
# kita filter menggunakan kondisional df.nunique < 4

#fyi df nunique menghasilkan
if not cat:
  print('Tidak ada kolom kategorikal')
else:
  print(cat)

if not num:
  print('Tidak ada kolom numerikal')
else:
  print(f'kolom numerik dalam data:')
  print(num)

Tidak ada kolom kategorikal
kolom numerik dalam data:
['Usia']

In [ ]:
# seleksi kondisional
df.loc[df['Usia'] > 25,['Nama','Usia']]

    Nama  Usia
1   Budi    30
2  Citra    28
3   Dedi    32
4    Eka    27

In [ ]:
# drop kolom dalam database
df.drop(columns=['Kota'])

    Nama  Usia
0   Andi    25
1   Budi    30
2  Citra    28
3   Dedi    32
4    Eka    27

In [ ]:
# menambahk kolom baru dalam dataset
df['Timestamp'] = pd.date_range('20230101', periods=5).astype(str)
df

    Nama  Usia        Kota   Timestamp
0   Andi    25     Jakarta  2023-01-01
1   Budi    30     Bandung  2023-01-02
2  Citra    28    Surabaya  2023-01-03
3   Dedi    32  Yogyakarta  2023-01-04
4    Eka    27    Semarang  2023-01-05

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nama       5 non-null      object
 1   Usia       5 non-null      int64
 2   Kota       5 non-null      object
 3   Timestamp  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes

In [ ]:
# konversi tipe datnya menjadi datetime
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Nama       5 non-null      object
 1   Usia       5 non-null      int64
 2   Kota       5 non-null      object
 3   Timestamp  5 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 288.0+ bytes

In [ ]:
# menambah kolom baru dan data didalam kolom itu
df['Notel'] = ['081234567890', '082345678901', '083456789012', '085678901234', '087890123456']

# Tampilkan DataFrame yang sudah diperbarui
print(df)

    Nama  Usia        Kota  Timestamp         Notel
0   Andi    25     Jakarta 2023-01-01  081234567890
1   Budi    30     Bandung 2023-01-02  082345678901
2  Citra    28    Surabaya 2023-01-03  083456789012
3   Dedi    32  Yogyakarta 2023-01-04  085678901234
4    Eka    27    Semarang 2023-01-05  087890123456

In [ ]:
df.index[[0,2]]

Index([0, 2], dtype='int64')

In [ ]:
df.loc[df.index[[0,2]]]

    Nama  Usia      Kota  Timestamp         Notel
0   Andi    25   Jakarta 2023-01-01  081234567890
2  Citra    28  Surabaya 2023-01-03  083456789012

In [ ]:
# Tambahkan 2 data pada kolom 'Notel' secara spesifik
# df.loc[df.index[[0, 2]], 'Notel'] = ['081111111111', '082222222222']

# modifikasi data dalam dataset pada 1 kolom tertentu pada index tertentu
df.loc[df.index[[0,2]],'Notel'] = ['0812222222','08333333333']

# mengedit atau menambhak data pada beberap akolom sekaligus berdasarkan index
df.loc[df.index[[0,1]], ['Usia','Kota']] = [[17,'Medan'],[25,'Bangkalan']]

# Tampilkan DataFrame yang sudah diperbarui
print(df)

    Nama  Usia        Kota  Timestamp         Notel
0   Andi    17       Medan 2023-01-01    0812222222
1   Budi    25   Bangkalan 2023-01-02  082345678901
2  Citra    28    Surabaya 2023-01-03   08333333333
3   Dedi    32  Yogyakarta 2023-01-04  085678901234
4    Eka    27    Semarang 2023-01-05  087890123456

In [ ]:
print(df)

    Nama  Usia        Kota         Notel
0   Andi    25     Jakarta    0812222222
1   Budi    30     Bandung  082345678901
2  Citra    28    Surabaya   08333333333
3   Dedi    32  Yogyakarta  085678901234
4    Eka    27    Semarang  087890123456

## NULL HANDLING

In [ ]:
import pandas as pd
import numpy as np
# cara menselect record yang tidak emmiliki nlai nukll
null_series = pd.Series([1,2,3,4,np.nan,5,np.nan,6])
print(null_series)


series_without_null = null_series[null_series.notnull()]
print(series_without_null)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    NaN
7    6.0
dtype: float64
0    1.0
1    2.0
2    3.0
3    4.0
5    5.0
7    6.0
dtype: float64

In [ ]:
null_series.dropna(how='any')

0    1.0
1    2.0
2    3.0
3    4.0
5    5.0
7    6.0
dtype: float64

filling null values

In [ ]:
# mengisis nilai yang null dengan nilai mean
filled_with_mmean = null_series.fillna(null_series.mean())

In [ ]:
# mengisi nilai null dengan value sebelumnya
null_series.fillna(method='ffill')  # ffill untuk forward fill

<ipython-input-14-5b58d35fb763>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  null_series.fillna(method='ffill')  # ffill untuk forward fill

0    1.0
1    2.0
2    3.0
3    4.0
4    4.0
5    5.0
6    5.0
7    6.0
dtype: float64

In [ ]:
# mengisi value dengan nilai setelahnya
null_series.fillna(method='bfill')

<ipython-input-16-896bd81aa577>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  null_series.fillna(method='bfill')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    5.0
6    6.0
7    6.0
dtype: float64

In [ ]:
# mengisis nilai null dalam
new_series = pd.Series([10, 20, 30, 40, 50, 60, np.nan, 80])
combined_df = pd.concat([null_series, new_series], axis=1)

columns = ['id', 'total_biaya']
combined_df.columns = columns
print(combined_df)

# Isi nilai NaN di kolom 'id' dengan rata-rata dan di 'total_biaya' dengan 50
combined_df.fillna({'id': combined_df['id'].mean(), 'total_biaya': 50}, inplace=True)

print(combined_df)

    id  total_biaya
0  1.0         10.0
1  2.0         20.0
2  3.0         30.0
3  4.0         40.0
4  NaN         50.0
5  5.0         60.0
6  NaN          NaN
7  6.0         80.0
    id  total_biaya
0  1.0         10.0
1  2.0         20.0
2  3.0         30.0
3  4.0         40.0
4  3.5         50.0
5  5.0         60.0
6  3.5         50.0
7  6.0         80.0

In [ ]:
new_series = pd.Series([10, 20, 30, 40, 50, 60, np.nan, 80])
combined_df = pd.concat([null_series, new_series], axis=1)

columns = ['id', 'total_biaya']
combined_df.columns = columns
print(combined_df)

combined_df.fillna(method='ffill', inplace=True)
print(combined_df)

    id  total_biaya
0  1.0         10.0
1  2.0         20.0
2  3.0         30.0
3  4.0         40.0
4  NaN         50.0
5  5.0         60.0
6  NaN          NaN
7  6.0         80.0
    id  total_biaya
0  1.0         10.0
1  2.0         20.0
2  3.0         30.0
3  4.0         40.0
4  4.0         50.0
5  5.0         60.0
6  5.0         60.0
7  6.0         80.0

<ipython-input-40-61e98768b5f3>:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  combined_df.fillna(method='ffill', inplace=True)

# handling value that not null but invalid

 cek nilai null gunakan value count untuk tiap kolom

In [43]:
data = {'Nama': ['Andi', '?', 'Citra', 'Dedi', 'Eka'],
        'Usia': [25, 30, 28, 32, 120],
        'Kota': ['Jakarta', '?', 'Surabaya', 'Yogyakarta', 'Semarang']}
df = pd.DataFrame(data)
df

    Nama  Usia        Kota
0   Andi    25     Jakarta
1      ?    30           ?
2  Citra    28    Surabaya
3   Dedi    32  Yogyakarta
4    Eka   120    Semarang

In [ ]:
# cek vvalue

In [47]:

for column in df.columns:
  print(f"Value counts for column '{column}':")
  print(df[column].value_counts())
  print("-" * 20)

Value counts for column 'Nama':
Nama
Andi     1
?        1
Citra    1
Dedi     1
Eka      1
Name: count, dtype: int64
--------------------
Value counts for column 'Usia':
Usia
25     1
30     1
28     1
32     1
120    1
Name: count, dtype: int64
--------------------
Value counts for column 'Kota':
Kota
Jakarta       1
?             1
Surabaya      1
Yogyakarta    1
Semarang      1
Name: count, dtype: int64
--------------------

In [48]:
# ganti nilai yang salah dengan nilai yang memungkinkan
df['Nama'] = df['Nama'].replace({'?':'Human'})

df = df.replace({'Nama': {'?':'Human'}, 'Usia':{120:30}, 'Kota':{'?':'Bangkalan'}})
df

    Nama  Usia        Kota
0   Andi    25     Jakarta
1  Human    30   Bangkalan
2  Citra    28    Surabaya
3   Dedi    32  Yogyakarta
4    Eka    30    Semarang

In [55]:
data = {'Nama': ['Andi', '?', 'Citra', 'Dedi', 'Eka'],
        'Usia': [25, 30, 28, 32, 120],
        'Kota': ['Jakarta', '?', 'Surabaya', 'Yogyakarta', 'Semarang']}
df = pd.DataFrame(data)
df

# advance null handling
df.loc[df['Usia'] > 100, 'Usia'] # kode ini adalah kode untuk engekstak record dan kolom pada kondisi tertentu
# df.loc[df['nama kolom yg dijadikan kondisi'] > 2, 'nama kolomm yang akan diambil/ditampilkan' / ['kolom1','kolom2']]
df.loc[df['Usia'] > 100, 'Usia'] = df.loc[df['Usia'] > 100, 'Usia'] / 10
df

    Nama  Usia        Kota
0   Andi    25     Jakarta
1      ?    30           ?
2  Citra    28    Surabaya
3   Dedi    32  Yogyakarta
4    Eka    12    Semarang

In [56]:
import pandas as pd

# Contoh DataFrame
data = {'Nama': ['Andi', 'Budi', 'Citra', 'Andi', 'Eka', 'Budi'],
        'Usia': [25, 30, 28, 25, 27, 30],
        'Kota': ['Jakarta', 'Bandung', 'Surabaya', 'Jakarta', 'Semarang', 'Bandung']}
df = pd.DataFrame(data)

print("DataFrame Awal:")
print(df)

# Menemukan duplikat berdasarkan semua kolom
print("\nDuplikat berdasarkan semua kolom:")
print(df[df.duplicated()])

# Menemukan duplikat berdasarkan subset kolom (misalnya, 'Nama' dan 'Usia')
print("\nDuplikat berdasarkan subset kolom ('Nama', 'Usia'):")
print(df[df.duplicated(subset=['Nama', 'Usia'])])

# Menghapus duplikat berdasarkan semua kolom (menyimpan yang pertama muncul)
df_no_duplicates = df.drop_duplicates()
print("\nDataFrame setelah menghapus duplikat berdasarkan semua kolom:")
print(df_no_duplicates)

# Menghapus duplikat berdasarkan subset kolom (menyimpan yang terakhir muncul)
df_no_duplicates_subset = df.drop_duplicates(subset=['Nama', 'Kota'], keep='last')
print("\nDataFrame setelah menghapus duplikat berdasarkan subset kolom ('Nama', 'Kota') dan menyimpan yang terakhir muncul:")
print(df_no_duplicates_subset)

# Menampilkan jumlah duplikat berdasarkan subset kolom
print("\nJumlah duplikat berdasarkan subset kolom ('Nama', 'Usia'):")
print(df.duplicated(subset=['Nama', 'Usia']).sum())

# Menampilkan baris yang merupakan duplikat berdasarkan subset kolom
print("\nBaris yang merupakan duplikat berdasarkan subset kolom ('Nama', 'Usia'):")
print(df[df.duplicated(subset=['Nama', 'Usia'], keep=False)])

DataFrame Awal:
    Nama  Usia      Kota
0   Andi    25   Jakarta
1   Budi    30   Bandung
2  Citra    28  Surabaya
3   Andi    25   Jakarta
4    Eka    27  Semarang
5   Budi    30   Bandung

Duplikat berdasarkan semua kolom:
   Nama  Usia     Kota
3  Andi    25  Jakarta
5  Budi    30  Bandung

Duplikat berdasarkan subset kolom ('Nama', 'Usia'):
   Nama  Usia     Kota
3  Andi    25  Jakarta
5  Budi    30  Bandung

DataFrame setelah menghapus duplikat berdasarkan semua kolom:
    Nama  Usia      Kota
0   Andi    25   Jakarta
1   Budi    30   Bandung
2  Citra    28  Surabaya
4    Eka    27  Semarang

DataFrame setelah menghapus duplikat berdasarkan subset kolom ('Nama', 'Kota') dan menyimpan yang terakhir muncul:
    Nama  Usia      Kota
2  Citra    28  Surabaya
3   Andi    25   Jakarta
4    Eka    27  Semarang
5   Budi    30   Bandung

Jumlah duplikat berdasarkan subset kolom ('Nama', 'Usia'):
2

Baris yang merupakan duplikat berdasarkan subset kolom ('Nama', 'Usia'):
   Nama  Usia     Kota
0  Andi    25  Jakarta
1  Budi    30  Bandung
3  Andi    25  Jakarta
5  Budi    30  Bandung