<a href="https://colab.research.google.com/github/DVN111/Data-Analyst-Portfolio/blob/main/PANDAS_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library

In [1]:
import pandas as pd
import numpy as np

## SERIES

In [8]:
# membuat series
population = pd.Series([1,2,3,4,5,6,7,8,9])
population

# memebaut series dengan index
population = pd.Series(
    [1,2,3,4,5,6,7,8,9], # data dalam series
    index=['a','b','c','d','e','f','g','h','i'] # index untuk tiap datanya
)
population

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64

## INDEXING

In [11]:
# seleksi data dalam series menggunakan index dan lokasi index
population.iloc[0] # pilih data dalam seeries pada nomor index ke 0 (index a)

1

In [13]:
# seleksi data berdasarkan index spesifik
population['a']

1

In [20]:
# seleksi data berdasartkan rentang indeks
population.loc['a':'d']  # seleksi data pada indeks 'a' sampai indeks 'd'

a    1
b    2
c    3
d    4
dtype: int64

In [26]:
population[['a','d','e']]

a    1
d    4
e    5
dtype: int64

In [21]:
# seleksi data berdasarkan index location
population.iloc[0]

1

In [25]:
# seleksi data berdasarkan index location secara multiple
population.iloc[[4,2,7]] #seleksi data pada index location ke 4 dan 2

e    5
c    3
h    8
dtype: int64

In [16]:
# seleksi data berdasarkan rentang index location
population.iloc[0:4] # selek data dalam list dimulaid dari indeks lokasi ke 0 -> 4

a    1
b    2
c    3
d    4
dtype: int64

## DATAFRAME

In [91]:
# prompt: buat datafranme dan terapkan kode yang pernah ditulis sebelumnya dalam analisis data

# Membuat DataFrame
data = {'Nama': ['Andi', 'Budi', 'Citra', 'Dedi', 'Eka'],
        'Usia': [25, 30, 28, 32, 27],
        'Kota': ['Jakarta', 'Bandung', 'Surabaya', 'Yogyakarta', 'Semarang']}
df = pd.DataFrame(data)

# df[df['Kota'] == 'Bandung']
# df.loc[df['Usia'] > 28]

# notes: df loc hanya bisa menggunakan nama kolom pada bagian kolom dalam slicing seperti ['Kota'] / ['Kota','Usia']
df.loc[2,['Kota']] # pilih data secara spesifik record pada indeks tertentu
df.loc[:2,:]

    Nama  Usia      Kota
0   Andi    25   Jakarta
1   Budi    30   Bandung
2  Citra    28  Surabaya

In [92]:
df.iloc[:2,2] # pilih semua kolom dan baris dalam
df.iloc[:,:] # df.iloc[(baris) / (barisX : barisy) , (kolom) / (kolomx : kolomy)]

    Nama  Usia        Kota
0   Andi    25     Jakarta
1   Budi    30     Bandung
2  Citra    28    Surabaya
3   Dedi    32  Yogyakarta
4    Eka    27    Semarang

In [95]:
df.nunique() <4 # outputnya adalah sebuah series

Nama    False
Usia    False
Kota    False
dtype: bool

In [103]:
df.columns[1]
# memilih kolom tertentu output: 'Usia'

'Usia'

In [109]:
cat = df.columns[df.nunique() < 4].tolist()
num = df.columns[df.dtypes == 'int'].tolist()
# df clumn itu menghasilkan indek series yang berisi nama kolom
# kita filter menggunakan kondisional df.nunique < 4

#fyi df nunique menghasilkan
if not cat:
  print('Tidak ada kolom kategorikal')
else:
  print(cat)

if not num:
  print('Tidak ada kolom numerikal')
else:
  print(f'kolom numerik dalam data:')
  print(num)

Tidak ada kolom kategorikal
kolom numerik dalam data:
['Usia']

Index(['Nama', 'Usia', 'Kota', 'cat_check'], dtype='object')